@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap);
/* Elevation/- Extra small */
/* Elevation/Extra small */
/* Elevation/Small */
/* Elevation/Large */
/* Elevation/Extra large */
.style_avatar-text__gU4gq {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  /* Elevation/Extra small */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  text-align: center;
  padding: 0.5rem;
}

.style_border__u0mlf {
  /* Neutral/White (Common) */
  border: 0.125rem solid #ffffff;
}

.style_avatar-img__BNZ-8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  /* Elevation/Extra small */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
/*# sourceMappingURL=style.module.css.map */
/* Elevation/- Extra small */
/* Elevation/Extra small */
/* Elevation/Small */
/* Elevation/Large */
/* Elevation/Extra large */
.style_button-layout__lCaS8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1.2496px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  cursor: pointer;
}

.style_button-layout__lCaS8 img {
  max-height: 1.25rem;
  max-width: 1.25rem;
}

.style_button--contained__15Jgd {
  /* Primary/Gradient */
  background: linear-gradient(277.38deg, #0076d1 0%, #0090ff 100%);
  color: #ffffff;
  border: none;
}

.style_button--contained__15Jgd:hover {
  background: #0062ad;
}

.style_button--contained__15Jgd:active {
  /* Primary/900 (Pressed) */
  background: #004b85;
  /* Primary/300 (Divider + Border) */
  color: #a8d9ff;
}

.style_button--contained__15Jgd:focus-visible {
  /* Primary/800 (Hover) */
  background: #0062ad;
  outline: 0.188rem solid #a8d9ff;
}

.style_button--contained__15Jgd:disabled {
  cursor: default;
  /* Neutral/Background/200 */
  background: #f1f3f4;
  /* Neutral/Icon/500 */
  color: #b1bbc4;
}

.style_button--outlined__OZN80 {
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Primary/300 (Divider + Border) */
  border: 0.063rem solid #a8d9ff;
  /* Primary/700 (Default) */
  color: #0076d1;
}

.style_button--outlined__OZN80:hover {
  /* Neutral/Background/100 */
  background: #f9f9fa;
  /* Primary/800 (Hover) */
  border: 0.063rem solid #0062ad;
  /* Primary/800 (Hover) */
  color: #0062ad;
}

.style_button--outlined__OZN80:active {
  /* Primary/100 (Background) */
  background: #ebf7ff;
  /* Primary/900 (Pressed) */
  border: 0.063rem solid #004b85;
  /* Primary/900 (Pressed) */
  color: #004b85;
}

.style_button--outlined__OZN80:focus-visible {
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Primary/800 (Hover) */
  border: 0.063rem solid #0062ad;
  outline: 0.188rem solid #a8d9ff;
}

.style_button--outlined__OZN80:disabled {
  cursor: default;
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Neutral/Border + Divider/200 */
  border: 0.063rem solid #f1f3f4;
  /* Neutral/Icon/500 */
  color: #b1bbc4;
}

.style_button--default__fso3M {
  /* Primary/700 (Default) */
  background: #ffffff;
  border: none;
  color: #0076d1;
}

.style_button--default__fso3M:hover {
  /* Neutral/Background/100 */
  background: #f9f9fa;
  /* Primary/800 (Hover) */
  color: #0062ad;
}

.style_button--default__fso3M:active {
  /* Primary/100 (Background) */
  background: #ebf7ff;
  /* Primary/900 (Pressed) */
  color: #004b85;
}

.style_button--default__fso3M:focus-visible {
  /* Primary/800 (Hover) */
  color: #0062ad;
  outline: 0.188rem solid #a8d9ff;
}

.style_button--default__fso3M:disabled {
  background: #ffffff;
  cursor: default;
  /* Neutral/Icon/500 */
  color: #b1bbc4;
}

.style_label-right__iTtsR {
  padding: 0.625rem 1rem 0.625rem 0.75rem;
}

.style_label-right__iTtsR span {
  margin-left: 0.5rem;
}

.style_label-left__Su6lG {
  padding: 0.625rem 0.75rem 0.625rem 1rem;
}

.style_label-left__Su6lG span {
  margin-right: 0.5rem;
}

.style_label-middle__S48JH {
  padding: 0.625rem 1rem;
}

.style_label-middle__S48JH span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.style_label-normal__yFaV4 {
  padding: 0.625rem 1rem;
}

.style_label-none__rA6Ek {
  padding: 0.625rem;
}
/*# sourceMappingURL=style.module.css.map */
/* Elevation/- Extra small */
/* Elevation/Extra small */
/* Elevation/Small */
/* Elevation/Large */
/* Elevation/Extra large */
.style_chip-layout__edERa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.375rem 0.75rem 0.375rem 0.375rem;
  min-height: 2.25rem;
  border: 0.063rem solid #e1e6eb;
  box-sizing: border-box;
  border-radius: 2.5rem;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  background-color: #ffffff;
  cursor: pointer;
  /* Elevation/Extra small */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
}

.style_chip-layout__edERa .style_chip-text__2w6F1 {
  padding-left: 0.3rem;
}

.style_chip-layout__edERa:focus-visible {
  outline: none;
  outline: 0.188rem solid #a8d9ff;
}

.style_chip-layout__edERa:hover {
  background-color: #f9f9fa;
}

.style_chip-layout__edERa:hover .style_emoji__YSM6z,
.style_chip-layout__edERa:hover .style_number__6zLMi {
  background: #ffffff;
}

.style_chip-layout__edERa:active {
  background-color: #f1f3f4;
}

.style_chip-layout__edERa:active .style_emoji__YSM6z,
.style_chip-layout__edERa:active .style_number__6zLMi {
  background: #ffffff;
}

.style_chip-layout__edERa:disabled {
  background-color: #ffffff;
  opacity: 0.5;
}

.style_chip-layout__edERa:focus-visible {
  background-color: #f9f9fa;
}

.style_chip-layout__edERa:focus-visible .style_emoji__YSM6z,
.style_chip-layout__edERa:focus-visible .style_number__6zLMi {
  background: #ffffff;
}

.style_chip-layout__edERa img {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.style_chip-layout__edERa .style_initials__wDySG {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background: #e4e7ff;
  color: #4e5ec8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.style_chip-layout__edERa .style_emoji__YSM6z {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background: #f1f3f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.style_chip-layout__edERa .style_number__6zLMi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 0.375rem;
  padding: 0 0.25rem;
  background: #f1f3f4;
  border-radius: 2.5rem;
  order: 2;
}

.style_selected-chip-layout__f0Aoe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.375rem 0.75rem 0.375rem 0.375rem;
  min-height: 2.25rem;
  border: 0.063rem solid #e1e6eb;
  box-sizing: border-box;
  border-radius: 2.5rem;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  background: linear-gradient(277.38deg, #0076d1 0%, #0090ff 100%);
  /* Neutral/White (Common) */
  color: #ffffff;
}

.style_selected-chip-layout__f0Aoe .style_chip-text__2w6F1 {
  padding-left: 0.3rem;
}

.style_selected-chip-layout__f0Aoe:focus-visible {
  outline: none;
  outline: 0.188rem solid #a8d9ff;
}

.style_selected-chip-layout__f0Aoe:hover {
  /* Primary/800 (Hover) */
  background: #0062ad;
}

.style_selected-chip-layout__f0Aoe:active {
  /* Primary/900 (Pressed) */
  background: #004b85;
}

.style_selected-chip-layout__f0Aoe:disabled {
  /* Neutral/Border + Divider/200 */
  background: #f1f3f4;
  /* Neutral/Icon/500 */
  color: #b1bbc4;
}

.style_selected-chip-layout__f0Aoe:focus-visible {
  /* Primary/800 (Hover) */
  background: #0062ad;
}
/*# sourceMappingURL=style.module.css.map */
.style_listElement__\+3nXf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  color: #67788a;
}

.style_listElement__\+3nXf .style_counter__YK6dS {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.25rem;
  background: #f1f3f4;
  border-radius: 2.5rem;
  color: #67788a;
}

.style_listElement__\+3nXf:hover {
  background: #f9f9fa;
}

.style_listElement__\+3nXf:hover .style_counter__YK6dS {
  background: #ffffff;
  color: #303f4f;
}

.style_listElement__\+3nXf:active {
  background: #ebf7ff;
}

.style_listElement__\+3nXf:focus-visible {
  background: #f9f9fa;
  outline: 0.188rem solid #a8d9ff;
}

.style_listElement__\+3nXf:disabled {
  pointer-events: none;
  background: #f1f3f4;
}

.style_listElement__\+3nXf:disabled .style_counter__YK6dS {
  background: #f9f9fa;
  color: #b1bbc4;
}

.style_listElement-selected__1usp5 {
  /* Primary/Gradient */
  background: linear-gradient(277.38deg, #0076d1 0%, #0090ff 100%);
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  color: #ffffff;
}

.style_listElement-selected__1usp5 .style_counter__YK6dS {
  background: #ebf7ff;
}

.style_listElement-selected__1usp5:hover {
  background: #0062ad;
  color: #ffffff;
}

.style_listElement-selected__1usp5:hover .style_counter__YK6dS {
  background: #ebf7ff;
}

.style_listElement-selected__1usp5:active {
  background: #004b85;
  color: #ffffff;
}

.style_listElement-selected__1usp5:active .style_counter__YK6dS {
  background: #ebf7ff;
}

.style_listElement-selected__1usp5:focus-visible {
  background: #0062ad;
  color: #ffffff;
  outline: 0.188rem solid #a8d9ff;
}

.style_listElement-selected__1usp5:focus-visible .style_counter__YK6dS {
  background: #ebf7ff;
}

.style_listElement-selected__1usp5:disabled {
  pointer-events: none;
  background: #f1f3f4;
  color: #67788a;
}

.style_listElement-selected__1usp5:disabled .style_counter__YK6dS {
  background: #f9f9fa;
  color: #b1bbc4;
}
/*# sourceMappingURL=style.module.css.map */
/* Elevation/- Extra small */
/* Elevation/Extra small */
/* Elevation/Small */
/* Elevation/Large */
/* Elevation/Extra large */
.style_dropdown__1lp7a {
  width: 400px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  border-radius: 8px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
}

.style_dropdown__1lp7a .style_dropdown-btn__caU9\+ {
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Neutral/Border + Divider/200 */
  border: 1px solid #f1f3f4;
  box-sizing: border-box;
  /* Elevation/Small */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  /* Neutral/Text/600 */
  color: #67788a;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  z-index: 10;
}

.style_dropdown__1lp7a .style_dropdown-btn__caU9\+ .style_caret-up__LYyRh {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  transition: 0.2s;
}

.style_dropdown__1lp7a .style_dropdown-btn__caU9\+:hover {
  /* Neutral/Text/800 */
  color: #2a3b4d;
}

.style_dropdown__1lp7a .style_dropdown-btn__caU9\+:active {
  /* Neutral/Text/900 */
  color: #1a2633;
}

.style_dropdown__1lp7a:focus-visible {
  /* Neutral/Text/800 */
  color: #2a3b4d;
  outline: 0.188rem solid #a8d9ff;
}

.style_dropdown__1lp7a:disabled {
  /* Neutral/Background/200 */
  background: #f1f3f4;
  /* Neutral/Icon/500 */
  color: #b1bbc4;
}

.style_dropdown__1lp7a .style_dropdown-content__AIY7e {
  /* Elevation/Small */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 110%;
  left: 0;
  background: #fff;
  color: #333;
  width: 100%;
  z-index: 10;
}

.style_dropdown__1lp7a .style_dropdown-content__AIY7e .style_dropdown-item__yABiq {
  cursor: pointer;
  transition: all 0.2s;
  z-index: 10;
}

.style_dropdown__1lp7a .style_dropdown-content__AIY7e .style_dropdown-item__yABiq:hover {
  /* Neutral/Background/100 */
  background: #f9f9fa;
  /* Neutral/Text/600 */
  color: #67788a;
}

.style_dropdown__1lp7a .style_dropdown-content__AIY7e .style_dropdown-item__yABiq:active {
  /* Primary/100 (Background) */
  background: #ebf7ff;
  /* Neutral/Text/600 */
  color: #67788a;
}

.style_dropdown__1lp7a .style_dropdown-content__AIY7e .style_dropdown-item__yABiq:focus-visible {
  outline: 0.188rem solid #a8d9ff;
  /* Neutral/Background/100 */
  background: #f9f9fa;
  /* Neutral/Text/600 */
  color: #67788a;
}
/*# sourceMappingURL=style.module.css.map */
/* Elevation/- Extra small */
/* Elevation/Extra small */
/* Elevation/Small */
/* Elevation/Large */
/* Elevation/Extra large */
.style_search__hiqxP {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.75rem;
  width: 25rem;
  /* Neutral/Border + Divider/300 */
  border: 0.0625rem solid #e1e6eb;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding-left: 2rem;
  background: url(../../9a0f430cde9015ee009a.svg) no-repeat left center;
  background-position: 0.625rem;
  background-size: 1.25rem;
  /* Neutral/Background/100 */
  background-color: #f9f9fa;
}

.style_search__hiqxP input[type="text"] {
  background: transparent;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  outline: none;
  border: none;
}

.style_search__hiqxP:disabled {
  /* Neutral/Background/100 */
  background: #f9f9fa;
  /* Neutral/Border + Divider/200 */
  border: 0.0625rem solid #f1f3f4;
}

.style_search__hiqxP:hover {
  /* Neutral/Background/100 */
  background-color: #f9f9fa;
  /* Neutral/Border + Divider/400 */
  border: 0.0625rem solid #c5cdd6;
  box-sizing: border-box;
  /* Elevation/- Extra small */
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
}

.style_search__hiqxP:focus-within {
  /* Primary/700 (Default) */
  border: 0.0625rem solid #0076d1;
  outline: 0.188rem solid #a8d9ff;
}

.style_searchField-helper-text-on-error__TcHZc {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  /* Error/700 (Default) */
  color: #c1272d;
}

.style_searchField-helper-text-on-correct__JUJtw {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  /* Success/700 (Default) */
  color: #42822c;
}

.style_searchField-isError-true__QVuKd {
  /* Error/300 (Divider + Border) */
  border: 0.0625rem solid #f1bbbd !important;
}

.style_searchField-isError-false__578Ow {
  /* Success/300 (Divider + Border) */
  border: 0.0625rem solid #bee5b1 !important;
}

.style_label-n-description-div__RUugs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-left: 0.125rem;
}

.style_searchField-description__Q5Lu5 {
  height: 1rem;
  /* Body / Body 3 */
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 0.0063rem;
  /* identical to box height, or 123% */
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  /* Neutral/Text/600 */
  color: #67788a;
  padding: 0.125rem 0rem;
  margin-bottom: 0.125rem;
}

.style_searchField-label__bJ1zI {
  height: 1.25rem;
  /* Body / Body 2 */
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  display: flex;
  align-items: center;
  /* Neutral/Text/700 */
  color: #4b5f73;
  padding: 0.125rem 0rem;
}
/*# sourceMappingURL=style.module.css.map */
/* Elevation/- Extra small */
/* Elevation/Extra small */
/* Elevation/Small */
/* Elevation/Large */
/* Elevation/Extra large */
.style_tab-layout__m9kDD {
  /* Auto layout */
  margin: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  /* Neutral/White (Common) */
  background: #ffffff;
  border-radius: 0.125rem;
  border: none;
  /* Body / Nav */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  border-bottom: 0.125rem solid transparent;
}

.style_tab-layout__m9kDD img {
  margin-right: 0.5rem;
  object-fit: cover;
  overflow: hidden;
  max-height: 1.25rem;
}

.style_tab-default-active__Z0QvK {
  border-bottom: 0.125rem solid #4cb1ff;
  color: #4cb1ff;
}

.style_tab-default-active__Z0QvK:hover {
  /* Primary/800 (Hover) */
  border-bottom: 0.125rem solid #0062ad;
  color: #0062ad;
}

.style_tab-default-active__Z0QvK:active {
  border-bottom: 0.125rem solid #004b85;
  color: #004b85;
}

.style_tab-default-active__Z0QvK:focus-visible {
  border-bottom: 0.125rem solid #0062ad;
  outline: 0.188rem solid #a8d9ff;
  color: #0062ad;
}

.style_tab-default-active__Z0QvK:disabled {
  border-bottom: 0.125rem solid #8accff;
  color: #b1bbc4;
}

.style_tab-inactive__n\+3XC {
  color: #67788a;
}

.style_tab-inactive__n\+3XC:hover {
  color: #303f4f;
}

.style_tab-inactive__n\+3XC:active {
  color: #1c2833;
}

.style_tab-inactive__n\+3XC:focus-visible {
  color: #303f4f;
  outline: 0.188rem solid #a8d9ff;
}

.style_tab-inactive__n\+3XC:disabled {
  color: #b1bbc4;
}

.style_tab-segment-active__IZGZF {
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Elevation/Small */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 0.125rem;
  color: #4cb1ff;
}

.style_tab-segment-active__IZGZF:hover {
  color: #0062ad;
  background: #f9f9fa;
}

.style_tab-segment-active__IZGZF:active {
  color: #004b85;
  background: #ebf7ff;
}

.style_tab-segment-active__IZGZF:focus-visible {
  color: #0062ad;
  background: #f9f9fa;
  outline: 0.188rem solid #a8d9ff;
}

.style_tab-segment-active__IZGZF:disabled {
  color: #b1bbc4;
  background: #f1f3f4;
}
/*# sourceMappingURL=style.module.css.map */
/* Elevation/- Extra small */
/* Elevation/Extra small */
/* Elevation/Small */
/* Elevation/Large */
/* Elevation/Extra large */
.style_trackerCard__xYKdU {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  max-width: 16.5rem;
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Neutral/Border + Divider/300 */
  border: 0.0625rem solid #e1e6eb;
  box-sizing: border-box;
  /* Elevation/Small */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
}

.style_trackerCard__xYKdU .style_trackerName__oPIZk {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.0094rem;
  color: #303f4f;
  margin: 0.5rem 0rem;
}

.style_trackerCard__xYKdU .style_separator__L4ziq {
  width: 1.5rem;
  height: 0.25rem;
  margin: 0;
  background: #ccd5de;
  border: none;
  border-radius: 0.5rem;
}

.style_trackerCard__xYKdU .style_id__CsB2g {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #506273;
  margin: 0.5rem 0rem;
}

.style_trackerCard__xYKdU .style_description__j9iBG {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
  color: #4b5f73;
  margin: 0.5rem 0rem;
}

.style_trackerCard__xYKdU .style_header__2xsrM {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.style_trackerCard__xYKdU .style_header__2xsrM .style_iconOrSelectContainer__jG4Na {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
  /* Neutral/Background/200 */
  background: #f1f3f4;
  border-radius: 2.5rem;
}

.style_trackerCard__xYKdU .style_header__2xsrM .style_optionAndChipContainer__iq6uL {
  display: none;
  flex-direction: row;
  align-items: center;
}

.style_trackerCard__xYKdU .style_header__2xsrM .style_optionAndChipContainer__iq6uL .style_customChip__Ubvjr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.125rem 0.75rem;
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Neutral/Border + Divider/300 */
  border: 1px solid #e1e6eb;
  box-sizing: border-box;
  /* Elevation/Extra small */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 2.5rem;
  margin-right: 0.5rem;
}

.style_trackerCardNotSelected__U6S1g .style_header__2xsrM > .style_iconOrSelectContainer__jG4Na > span {
  display: block;
}

.style_trackerCardNotSelected__U6S1g .style_header__2xsrM > .style_iconOrSelectContainer__jG4Na > input[type="checkbox"] {
  display: none;
}

.style_trackerCardNotSelected__U6S1g:hover {
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Neutral/Border + Divider/300 */
  border: 1px solid #e1e6eb;
  box-sizing: border-box;
  /* Elevation/Extra large */
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
}

.style_trackerCardNotSelected__U6S1g:hover .style_header__2xsrM > .style_optionAndChipContainer__iq6uL {
  display: flex;
}

.style_trackerCardNotSelected__U6S1g:hover .style_iconOrSelectContainer__jG4Na > span {
  display: none;
}

.style_trackerCardNotSelected__U6S1g:hover .style_iconOrSelectContainer__jG4Na > input[type="checkbox"] {
  display: block;
}

.style_trackerCardNotSelected__U6S1g:focus {
  /* Primary/300 (Divider + Border) */
  outline: 0.25rem solid #a8d9ff;
}

.style_trackerCardNotSelected__U6S1g:focus .style_customChip__Ubvjr {
  display: flex;
}

.style_trackerCardNotSelected__U6S1g:focus .style_header__2xsrM > .style_optionAndChipContainer__iq6uL {
  display: flex;
}

.style_trackerCardNotSelected__U6S1g:focus .style_iconOrSelectContainer__jG4Na > span {
  display: none;
}

.style_trackerCardNotSelected__U6S1g:focus .style_iconOrSelectContainer__jG4Na > input[type="checkbox"] {
  display: block;
}

.style_trackerCardNotSelected__U6S1g:active {
  /* Primary/100 (Background) */
  background: #ebf7ff;
  /* Primary/700 (Default) */
  border: 1px solid #0076d1;
}

.style_trackerCardNotSelected__U6S1g:active .style_iconOrSelectContainer__jG4Na {
  background: #ffffff;
}

.style_trackerCardNotSelected__U6S1g:active .style_header__2xsrM > .style_optionAndChipContainer__iq6uL {
  display: none;
}

.style_trackerCardNotSelected__U6S1g:active .style_iconOrSelectContainer__jG4Na > span {
  display: block;
}

.style_trackerCardNotSelected__U6S1g:active .style_iconOrSelectContainer__jG4Na > input[type="checkbox"] {
  display: none;
}

.style_trackerCardSelected__h7\+\+I {
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Primary/700 (Default) */
  border: 1px solid #0076d1;
  box-sizing: border-box;
  /* Elevation/Small */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.style_trackerCardSelected__h7\+\+I .style_header__2xsrM > .style_iconOrSelectContainer__jG4Na > span {
  display: none;
}

.style_trackerCardSelected__h7\+\+I .style_header__2xsrM > .style_iconOrSelectContainer__jG4Na > input[type="checkbox"] {
  display: block;
}

.style_trackerCardSelected__h7\+\+I:hover {
  border: 1px solid #0062ad;
  box-sizing: border-box;
  /* Elevation/Extra large */
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
}

.style_trackerCardSelected__h7\+\+I:hover .style_header__2xsrM > .style_optionAndChipContainer__iq6uL {
  display: flex;
}

.style_trackerCardSelected__h7\+\+I:hover .style_header__2xsrM > .style_iconOrSelectContainer__jG4Na > input[type="checkbox"] {
  /* Primary/800 */
  background: #0062ad;
}

.style_trackerCardSelected__h7\+\+I:focus {
  /* Primary/300 (Divider + Border) */
  outline: 0.25rem solid #a8d9ff;
  /* Primary/800 (Hover) */
  border: 1px solid #303f4f;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
}

.style_trackerCardSelected__h7\+\+I:focus .style_header__2xsrM > .style_optionAndChipContainer__iq6uL {
  display: flex;
}

.style_trackerCardSelected__h7\+\+I:active {
  /* Primary/100 (Background) */
  background: #ebf7ff;
  /* Primary/900 (Pressed) */
  border: 1px solid #004b85;
  box-sizing: border-box;
  /* Elevation/Small */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.style_trackerCardSelected__h7\+\+I:active .style_iconOrSelectContainer__jG4Na {
  background: #ffffff;
}

.style_trackerCardDisabled__QFiKc {
  background: #f9f9fa;
  pointer-events: none;
  opacity: 0.6;
}
/*# sourceMappingURL=style.module.css.map */
/* Elevation/- Extra small */
/* Elevation/Extra small */
/* Elevation/Small */
/* Elevation/Large */
/* Elevation/Extra large */
.style_InsightsCard__DkoQE {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  /* Neutral/Background/100 */
  background: #f9f9fa;
  /* Elevation/Small */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  color: #506273;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  max-width: 20.0625rem;
}

.style_InsightsCard__DkoQE .style_cardHeader__ShMGo {
  /* Meta data + Menu button */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
}

.style_InsightsCard__DkoQE .style_cardHeader__ShMGo .style_chipAndTimeStampContainer__S3zAg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.style_InsightsCard__DkoQE .style_cardHeader__ShMGo .style_chipAndTimeStampContainer__S3zAg .style_timeStamp__CZ8nG {
  margin-left: 0.25rem;
}

.style_InsightsCard__DkoQE .style_cardBody__3qY\+s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0rem;
}

.style_InsightsCard__DkoQE .style_footerNote__mhDkw {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.style_InsightsCard__DkoQE .style_footerNote__mhDkw img {
  padding: 4px;
}

.style_InsightsCard__DkoQE:hover {
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Elevation/Large */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
}

.style_InsightsCard__DkoQE:focus-visible {
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Primary/300 (Divider + Border) */
  outline: 3px solid #a8d9ff;
  /* Elevation/Large */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
}

.style_insightsCardDisabled__qrd\+U {
  background: #f9f9fa;
  pointer-events: none;
  opacity: 0.6;
}
/*# sourceMappingURL=style.module.css.map */
.style_header-tile-layout__dgWut {
  min-height: 13.25rem;
  /* Elevation/Large */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.style_header-tile-layout__dgWut .style_header-and-data-container__Aj1a1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.style_header-tile-layout__dgWut .style_tile-title__9ne-3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 40px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  letter-spacing: 0.24px;
  /* Neutral/Background/100 */
  color: #f9f9fa;
}

.style_header-tile-layout__dgWut .style_speakers-container__PjlPM {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  /* Body / Body 2 SemiBold */
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  /* Neutral/Background/100 */
  color: #f9f9fa;
  flex-wrap: wrap;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .style_header-tile-layout__dgWut .style_tile-title__9ne-3 {
    font-weight: 300;
    font-size: 24px;
  }
  .style_speakers-container__PjlPM {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.module.css.map */

/*# sourceMappingURL=main.b8fe91ea.css.map*/