// prime color
$color-prime-00: #ffffff;
$color-prime-100: #ebf7ff;
$color-prime-200: #c7e7ff;
$color-prime-300: #a8d9ff;
$color-prime-400: #8accff;
$color-prime-500: #4cb1ff;
$color-prime-600: #0f97ff;
$color-prime-700: #0076d1;
$color-prime-800: #0062ad;
$color-prime-900: #004b85;


// Neutral color
$color-neutral-00: #ffffff;
$color-neutral-100: #f9f9fa;
$color-neutral-200: #f1f3f4;
$color-neutral-300: #e1e6eb;
$color-neutral-400: #c5cdd6;
$color-neutral-500: #b1bbc4;
$color-neutral-600: #67788a;
$color-neutral-700: #506273;
$color-neutral-800: #303f4f;
$color-neutral-900: #1c2833;


// Denim color (info)
$color-denim-100:#EBF6FF;
$color-denim-300:#ACD8F8;
$color-denim-700:#0E6BAE;
$color-denim-800:#045894;
$color-denim-900:#00406E;

// forest (success)
$color-forest-100:#F2FFEE;
$color-forest-300:#BEE5B1;
$color-forest-700:#42822C;
$color-forest-800:#256B0E;
$color-forest-900:#154705;

// Mustard (warning)
$color-mustard-100:#FFF8EA;
$color-mustard-400:#F5D9A0;
$color-mustard-700:#E3A019;
$color-mustard-800:#BD8515;
$color-mustard-900:#986600;

//Tomato (danger)
$color-tomato-100:#FFF3F4;
$color-tomato-300:#F1BBBD;
$color-tomato-700:#C1272D;
$color-tomato-800:#A12025;
$color-tomato-900:#601316;





// used by the chip with initials
$color-extra-Lavender-100: #e4e7ff;