@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");
/* Elevation/- Extra small */
/* Elevation/Extra small */
/* Elevation/Small */
/* Elevation/Large */
/* Elevation/Extra large */
.chip-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.375rem 0.75rem 0.375rem 0.375rem;
  min-height: 2.25rem;
  border: 0.063rem solid #e1e6eb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2.5rem;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  background-color: #ffffff;
  cursor: pointer;
  /* Elevation/Extra small */
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
}

.chip-layout .chip-text {
  padding-left: 0.3rem;
}

.chip-layout:focus-visible {
  outline: none;
  outline: 0.188rem solid #a8d9ff;
}

.chip-layout:hover {
  background-color: #f9f9fa;
}

.chip-layout:hover .emoji,
.chip-layout:hover .number {
  background: #ffffff;
}

.chip-layout:active {
  background-color: #f1f3f4;
}

.chip-layout:active .emoji,
.chip-layout:active .number {
  background: #ffffff;
}

.chip-layout:disabled {
  background-color: #ffffff;
  opacity: 0.5;
}

.chip-layout:focus-visible {
  background-color: #f9f9fa;
}

.chip-layout:focus-visible .emoji,
.chip-layout:focus-visible .number {
  background: #ffffff;
}

.chip-layout img {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.chip-layout .initials {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background: #e4e7ff;
  color: #4e5ec8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chip-layout .emoji {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background: #f1f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chip-layout .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.375rem;
  padding: 0 0.25rem;
  background: #f1f3f4;
  border-radius: 2.5rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.selected-chip-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.375rem 0.75rem 0.375rem 0.375rem;
  min-height: 2.25rem;
  border: 0.063rem solid #e1e6eb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2.5rem;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  background: linear-gradient(277.38deg, #0076d1 0%, #0090ff 100%);
  /* Neutral/White (Common) */
  color: #ffffff;
}

.selected-chip-layout .chip-text {
  padding-left: 0.3rem;
}

.selected-chip-layout:focus-visible {
  outline: none;
  outline: 0.188rem solid #a8d9ff;
}

.selected-chip-layout:hover {
  /* Primary/800 (Hover) */
  background: #0062ad;
}

.selected-chip-layout:active {
  /* Primary/900 (Pressed) */
  background: #004b85;
}

.selected-chip-layout:disabled {
  /* Neutral/Border + Divider/200 */
  background: #f1f3f4;
  /* Neutral/Icon/500 */
  color: #b1bbc4;
}

.selected-chip-layout:focus-visible {
  /* Primary/800 (Hover) */
  background: #0062ad;
}
/*# sourceMappingURL=style.module.css.map */