@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");
/* Elevation/- Extra small */
/* Elevation/Extra small */
/* Elevation/Small */
/* Elevation/Large */
/* Elevation/Extra large */
.InsightsCard {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.0063rem;
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Neutral/Background/100 */
  background: #f9f9fa;
  /* Elevation/Small */
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  color: #506273;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  max-width: 20.0625rem;
}

.InsightsCard .cardHeader {
  /* Meta data + Menu button */
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0rem;
}

.InsightsCard .cardHeader .chipAndTimeStampContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.InsightsCard .cardHeader .chipAndTimeStampContainer .timeStamp {
  margin-left: 0.25rem;
}

.InsightsCard .cardBody {
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0rem;
}

.InsightsCard .footerNote {
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.InsightsCard .footerNote img {
  padding: 4px;
}

.InsightsCard:hover {
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Elevation/Large */
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
}

.InsightsCard:focus-visible {
  /* Neutral/White (Common) */
  background: #ffffff;
  /* Primary/300 (Divider + Border) */
  outline: 3px solid #a8d9ff;
  /* Elevation/Large */
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
}

.insightsCardDisabled {
  background: #f9f9fa;
  pointer-events: none;
  opacity: 0.6;
}
/*# sourceMappingURL=style.module.css.map */